* {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Inter', sans-serif;
	background-color: #f2f2f2;
}
a {
	font-family: 'Inter', sans-serif;
}
a:hover {
	text-decoration: none;
}


/*Generic Styling Elements Starts Here*/
h1, h2, h3, h4, h5, h6 {
	color: #888888;
}
.green-bg {
	background-color: #28945E!important;
	color: #fff!important;
}
.white-bg {
	background-color: #FFF!important;
	color: #28945E!important;
}
.green-text {
	color: #28945E!important;
	font-weight: 700;
	text-transform: uppercase;
}
/*Header Styling Starts Here*/
header {
	border-bottom: 1px solid #28945E;
	background-color: #EFEFEF;
}
.navbar {
	padding: 0;
}
.custom-brand {
	margin: 0;
}
.custom-brand img {
	width: 80px;
}
.custom-navbar-nav li {
	margin: 0 5px;
}
.custom-navbar-nav li:last-child {
	margin-right: 0px;
}
.custom-navbar-nav li a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: #000000;
	transition: .5s ease;
}
.custom-navbar-nav li a:hover, .custom-navbar-nav li.active a {
	color: #28945E!important;
}
.navbar-toggler {
    color: #000000!important;
    border-color: transparent;
    font-weight: 300;
    transition: .5s ease;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}
.navbar-toggler>.close {
    display:block;
}
/*Header Styling Ends Here*/

/*News Category Styling Starts*/
.news-categories-section {
	padding: 50px 0;
}
.custom-card {
	margin-bottom: 20px;
}
.custom-card .card-header {
	font-size: 16px;
	font-weight: 700;
	background-color: #28945E;
	color: #fff;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.8rem 1rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.custom-card ul li:hover {
	background-color: rgba(40,148,94,.2);
}
.custom-card ul li small, .custom-table small {
	font-size: 12px;
}
.custom-card ul li a {
	font-size: 14px;
	font-weight: 500;
	color: #000;
}
.custom-card ul li a:hover {
	color: #28945E;
}
.custom-table th {
	color: #28945E;
}
.custom-table th, .custom-table td {
	font-size: 14px;
}
.team-row td {
	width: 33%;
	font-weight: 700;
}
.venue-row td {
	padding: 0;
	font-size: 14px;
	font-weight: 500;
}
.result-row td {
	width: 25%;
	font-weight: 700;
}
.news-category-sidebar-container iframe {
	border-radius: 5px;
}
/*News Category Styling Ends*/

/*Sponsors Slick Slider Styling Starts*/
.sponsors-container p {
	padding: 40px 0;
	width: 70%;
	margin: 0 auto;
}
.sponsors-container table {
	margin-bottom: 40px;
}
.sponsors-container td {
	font-weight: 500;
	font-size: 15px;
}
.sponsors-container ul li:hover {
	background-color: transparent;
}
.customer-logos {
	padding-bottom: 50px;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*Sponsors Slick Slider Styling Ends*/
/*Committee Member Styling Starts Here*/
.committee-container {
    padding: 40px 0;
}
.profile{
	margin-top: 25px;
}
.profile h1 {
	font-weight: 600;
	font-size: 16px;
	margin:10px 0 0 0;
	color: #28945E;
}
.profile h2 {
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile p {
	margin-bottom: 0;
	font-size: 13px;
}
.profile .img-box {
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box img {
	width: 60px;
}
/*Committee Member Styling Ends Here*/
/*Committee Member Styling Starts Here*/
.fundraising-container {
    padding: 40px 0;
}
.fundraising-container p {
    padding: 0 40px;
    text-align: justify;
}
.honour-content td {
	width: 50%;
}
/*Committee Member Styling Ends Here*/

/*Image Gallery Styling Here*/
.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}
.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}
.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    content: 'Full View';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}
.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(38, 166, 91, .5);
    content: '';
    transition: 0.4s;
}
.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}
.baguetteBox-button {
    background-color: transparent !important;
}
.news-table td:first-child {
	width: 20%;
}
/*Image Gallery Styling Here*/

/*Footer Section Styling Starts*/
footer {
	padding: 20px 0;
	padding-bottom: 10px;
	background-color: #28945E;
}
.footer-content p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
	margin-bottom: 0;
}
.footer-content ul li {
	margin-left: 10px;
}
.footer-content ul li a {
	color: #fff;
	font-size: 14px;
	transition: .5s ease;
}
.footer-content ul li a:hover, .footer-content ul li.active a {
	opacity: .7;
}
/*Footer Section Styling Ends*/